<table>
  <thead>
  <tr>
    <% @headers.each do |header| %>
      <th><%= header.humanize %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @rows.each do |row| %>
    <tr>
      <% @props.each do |prop| %>
        <td>
          <%= if row[prop].is_a?(Numeric)
                number_with_delimiter(row[prop], delimiter: " ", separator: ".")
              elsif row[prop].methods.include?(:strftime)
                row[prop].strftime("%Y, %b %-d")
              else
                row[prop]
              end %>
        </td>
      <% end %>
      <td><%= link_to "Details", row %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="100%"><%= link_to("New " + @model_class, @model_class.pluralize + "/new") %></td>
  </tr>
  </tbody>
</table>
